/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    height: 70vh;
    background-image: url(../img/1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.username {
    font-size: 40px;
    color: #fff;
    font-weight: 600;
}

.name {
    font-size: 50px;
    color: #fff;
    font-weight: bold;
}